{{ partial "head" . }}

<div id="container">
    {{ partial "header" . }}

    <div class="outer">
        <header class="article-header">
            <a href="{{ .Permalink }}">
                <h1 class="article-title" itemprop="name">
                    Games Guides, Strategies and Tips
                </h1>
            </a>
        </header>
        <section id="main">
            <article class="article article-type-post" itemscope="" itemprop="blogPost">
                <div class="article-inner">
                    <div class="article-entry" itemprop="articleBody">
                        <p>
                        Game Solver is a network of game guides, tips, and strategies for some amazing free games.
                        </p>
                        <ul>
                            <li><a href="https://agario.gamesolver.info">Agario Guide</a></li>
                            <li><a href="https://tictactoe.gamesolver.info">Tic Tac Toe Guide</a></li>
                            <li><a href="https://bestfiends.gamesolver.info">Best Fiends Guide</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{{ partial "footer" . }}
</body>
</html>
