<footer class="article-footer">
    {{ if not (eq .Site.DisqusShortname "") }}
    <a href="{{ .Permalink }}#disqus_thread" class="article-comment-link">
        {{with .Site.Data.l10n.articles.comments}}{{.}}{{end}}
    </a>
    {{end}}
</footer>
